html, body, h1 {
    margin: 0px;
}

p {
    margin: 0px;
}
@font-face {
    font-family: 'blackjack';
    src: local('blackjack'), url(../fonts/blackjack/blackjack.otf) format('opentype');
  }

/* Home feed styles */

.home-feed{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}